@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h2, h3, h4 {
    font-family: "Rancho", cursive;
}

.font-rancho {
    font-family: "Rancho", cursive;
}

.banner {
    background-image: url('assets/images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo, .active {
    background: -webkit-linear-gradient(#E855DE, #5400EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-book {
    background-image: url('assets/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 50%;
    width: 100%;
    height: 100%;
}

.overlay2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.overlay2:hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 75%;
    width: 100%;
    height: 100%;
    transition: .5s;
}

/* footer  */

.footer-bg {
    background-image: url('./assets/images/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category {
    clip-path: polygon(100% 0, 0% 100%, 0 0);
}

.cat-card:hover .search {
    display: block;
    transition: .5s;
}



/* heading  */

.heading::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C03EE2;
    opacity: 100%;
    width: 200px;
    height: 2px;
}
.heading::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C03EE2;
    opacity: 100%;
    width: 150px;
    height: 2px;
}


/* button css */

.btn-all {
    
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1em;
}

.extra-btn {
    position: absolute;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 3px 20px #d94ce0;
}

/* [#E855DE] [#5400EE] */

.extra-btn > span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #E855DE, #5400EE);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.extra-btn > span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #E855DE, #5400EE);
    animation: animate2 2s linear infinite;
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.extra-btn > span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #E855DE, #5400EE);
    animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.extra-btn > span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #E855DE, #5400EE);
    animation: animate4 2s linear infinite;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@media screen and (max-width: 380px) {
    .btn-all {
        padding: 1em;
        font-size: 14px;
    }
}

/* btn end  */

/* details page  */

.details-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 30%;
    width: 100%;
    height: 100%;
}

/* details page end  */

.modal-box {
    max-width: 60% !important;
}

@media screen and (max-width: 1000px) {
    .modal-box {
        max-width: 70% !important;
    }
}
@media screen and (max-width: 800px) {
    .modal-box {
        max-width: 80% !important;
    }
}
@media screen and (max-width: 700px) {
    .modal-box {
        max-width: 100% !important;
    }
}